/*  your css code here. If applicable */
body{
	background-color:"#f8f8f8;
}

h1{
	text-align:center;
}

.book-library{
	background-color:#ffffff;
}

.book{
	margin-bottom:40px;
	text-align:center;
}

.title{
	text-align:left;
	margin:0;
}

.author{
		text-align:left;
		margin:0;
		color:#777777;
}

.price{
		background-color:rgb(46, 204, 113);
		border-radius:5%;
		color:white;
		padding:4px;
		border:none;
		width:100%;
	}